@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@400;600;700&family=Roboto:wght@300;400;500;700;900&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --white: #ffffff;
    /* --red:rgba(220, 53, 69, 1); */
    --active:#ffba00;
    --socialIcon:#c39518;
    --themeFont:'Ubuntu', sans-serif;
    --robot:'Roboto', sans-serif;
    --logoFont: 'Bebas Neue', cursive;
    --oswald: 'Oswald', sans-serif

    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;

    --xs: 12px;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --xl: 20px;
    --xxl: 24px;


    --xsL: 22px;
    --smL: 24px;
    --mdL: 26px;
    --lgL: 28px;
    --xlL: 30px;
    --xxlL: 34px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body {
    font-family: var(--themeFont);
    color: #ffffff;
    background: #040004;
    letter-spacing:.5px;
}

.activeMenu a span{
    color:var(--active);
}
.activeMenu a span svg path{
    fill:var(--active);
}

@media(min-width:1024px){

}